{% assign text_yes = "Oui" %}
{% assign text_no = "Non" %}
{% assign text_page_not_found = "La page que vous recherchiez n'a pas été trouvée." %}
{% assign text_first_name = "Prénom" %}
{% assign text_last_name = "Nom" %}
{% assign text_email = "Email" %}
{% assign text_street_address = "Adresse" %}
{% assign text_city = "Ville" %}
{% assign text_state = "État" %}
{% assign text_postcode = "Code postal" %}
{% assign text_phone = "Téléphone" %}
{% assign text_mobile_phone = "Téléphone portable" %}
{% assign text_optional = "Optionnel" %}
{% assign text_image = "Image" %}
{% assign text_send_me_email = "M'envoyer des mises à jour par email" %}
{% assign text_send_me_message = "M'envoyer des mises à jour par SMS" %}
{% assign text_i_want_to_volunteer = "Je veux être bénévole" %}
{% assign text_dont_publish_on_website = "Ne pas publier sur le site web" %}
{% assign text_connect_to_facebook = "Connectez-vous à Facebook pour trouver vos amis." %}
{% assign text_connect_to_twitter = "Connectez-vous à Twitter pour trouver vos amis ici." %}
{% assign text_reaction_singular = "Réaction" %}
{% assign text_reaction_plural = "Réactions" %}
{% assign text_add_your_reaction = "Ajoutez votre réaction" %}
{% assign text_share = "Partager" %}
{% assign text_tweet = "Tweeter" %}
{% assign text_host_your_own = "Organisez le vôtre" %}
{% assign text_filter_events = "Filtrer les événements" %}
{% assign text_start_date = "Date de début" %}
{% assign text_end_date = "Date de fin" %}
{% assign text_search = "Rechercher" %}
{% assign text_there_are_currently_no = "Il n'y a actuellement aucun" %}
{% assign text_directory_listings = "Listes d'annuaires" %}
{% assign text_profile = "Profil" %}
{% assign text_name = "Nom" %}
{% assign text_social_capital = "Capital social" %}
{% assign text_socials = "Réseaux sociaux" %}
{% assign text_follows = "Suit" %}
{% assign text_please_verify_password = "Veuillez vérifier votre mot de passe" %}
{% assign text_please_activate = "Veuillez activer votre compte" %}
{% assign text_please_sign_in = "Veuillez vous connecter" %}
{% assign text_forgot_password = "Mot de passe oublié ?" %}
{% assign text_or_sign_in_with = "Ou connectez-vous avec" %}
{% assign text_if_you_are_not = "Si vous n'êtes pas" %}
{% assign text_click_here = "Cliquez ici" %}
{% assign text_sign_in_with = "Se connecter avec" %}
{% assign text_remember_me = "Se souvenir de moi" %}
{% assign text_goal = "Objectif" %}
{% assign text_donors_goal = "Objectif des donateurs" %}
{% assign text_your_order = "Votre commande" %}
{% assign text_billed_automatically_every = "facturé automatiquement tous les" %}
{% assign text_clear_order = "Effacer la commande" %}
{% assign text_select_your_amount = "Sélectionnez votre montant" %}
{% assign text_paid_monthly = "Payé mensuellement" %}
{% assign text_paid_annually = "Payé annuellement" %}
{% assign text_payment_options = "Options de paiement" %}
{% assign text_continue = "Continuer" %}
{% assign text_your_information = "Vos informations" %}
{% assign text_country = "Pays" %}
{% assign text_address_1 = "Adresse 1" %}
{% assign text_address_2 = "Adresse 2" %}
{% assign text_address_3 = "Adresse 3" %}
{% assign text_send_email_updates = "Envoyer des mises à jour par email" %}
{% assign text_employer = "Employeur" %}
{% assign text_occupation = "Profession" %}
{% assign text_employer_country = "Pays de l'employeur" %}
{% assign text_employer_address_1 = "Adresse de l'employeur 1" %}
{% assign text_employer_address_2 = "Adresse de l'employeur 2" %}
{% assign text_employer_address_3 = "Adresse de l'employeur 3" %}
{% assign text_employer_city = "Ville de l'employeur" %}
{% assign text_law_requires = "La loi exige que nous demandions votre employeur et votre profession. Si vous n'avez pas d'employeur ou si vous êtes à la retraite, mettez N/A, et si vous êtes travailleur indépendant, mettez 'travailleur indépendant' comme employeur et décrivez votre profession." %}
{% assign text_this_is_a_contribution = "Il s'agit d'une contribution d'une entreprise." %}
{% assign text_contributions_are = "Les contributions sont déductibles d'impôts." %}
{% assign text_back = "Retour" %}
{% assign text_payment_information = "Informations de paiement" %}
{% assign text_credit_card = "Carte de crédit" %}
{% assign text_contribution_rules = "Règles de contribution" %}
{% assign text_i_confirm = "Je confirme que les déclarations ci-dessus sont vraies et exactes." %}
{% assign text_dont_publish_donation = "Ne pas publier mon don sur le site web." %}
{% assign text_please_select_amount = "Veuillez sélectionner un montant" %}
{% assign text_process_payment = "Traiter le paiement" %}
{% assign text_donate_now = "Faire un don maintenant" %}
{% assign text_donors = "Donateurs" %}
{% assign text_your_credit_card = "Votre carte de crédit sera facturée automatiquement chaque mois" %}
{% assign text_i_want_to_pay_this_in = "Je veux payer ceci en" %}
{% assign text_installments = "Versements" %}
{% assign text_your_details = "Vos détails" %}
{% assign text_credit_card_number = "Numéro de carte de crédit" %}
{% assign text_expires = "Expire" %}
{% assign text_security_code = "Code de sécurité" %}
{% assign text_continue_paypal = "Continuer vers PayPal" %}
{% assign text_process_donation = "Traiter le don" %}
{% assign text_endorsements = "Soutiens" %}
{% assign text_thank_you_for_signing = "Merci d'avoir signé !" %}
{% assign text_you_can_also = "Vous pouvez aussi" %}
{% assign text_hi = "Bonjour" %}
{% assign text_if_you_re_not = "Si vous n'êtes pas" %}
{% assign text_organization_company = "Organisation / Entreprise" %}
{% assign text_your_title = "Votre titre" %}
{% assign text_my_organization = "Mon organisation fait l'endossement" %}
{% assign text_add_endorsement = "Ajouter un soutien" %}
{% assign text_featured_endorsements = "Soutiens en vedette" %}
{% assign text_when = "Quand" %}
{% assign text_where = "Où" %}
{% assign text_map_and_directions = "Carte Google et itinéraires" %}
{% assign text_contact = "Contact" %}
{% assign text_tickets = "Billets" %}
{% assign text_free = "Gratuit" %}
{% assign text_will_you_come = "Viendrez-vous ?" %}
{% assign text_did_a_host = "Un hôte vous a-t-il référé ?" %}
{% assign text_rsvp_canceled = "Votre RSVP a été annulé." %}
{% assign text_uncancel_rsvp = "Annuler l'annulation du RSVP." %}
{% assign text_change_number_guests = "Modifier le nombre d'invités que vous amenez" %}
{% assign text_cancel_not_coming = "Annuler, je ne viens pas." %}
{% assign text_update_rsvp = "Mettre à jour le RSVP" %}
{% assign text_cancel_rsvp = "Annuler le RSVP" %}
{% assign text_event_sold_out = "Désolé, cet événement est complet." %}
{% assign text_how_many_people = "Combien d'autres personnes amenez-vous ?" %}
{% assign text_choose_shifts = "Choisir les créneaux" %}
{% assign text_dont_publish_rsvp = "Ne pas publier mon RSVP sur le site web" %}
{% assign text_also_rsvp_on = "RSVP également sur" %}
{% assign text_send_rsvp = "Envoyer le RSVP" %}
{% assign text_note_ticket = "NOTE : Après le RSVP, vous devrez toujours acheter un billet" %}
{% assign text_here = "Ici" %}
{% assign text_or = "Ou" %}
{% assign text_dont_post_publicly = "Ne pas publier ceci publiquement" %}
{% assign text_facebook_connected = "Vous avez connecté votre compte Facebook." %}
{% assign text_twitter_connected = "Vous avez connecté votre compte Twitter." %}
{% assign text_sign_find_people = "Connectez-vous pour trouver les personnes que vous suivez" %}
{% assign text_password = "Mot de passe" %}
{% assign text_sign_in_with_password = "Se connecter avec un mot de passe" %}
{% assign text_sign_in = "Se connecter" %}
{% assign text_no_outstanding_invoices = "Vous n'avez pas de factures en attente." %}
{% assign text_quantity = "Quantité" %}
{% assign text_amount = "Montant" %}
{% assign text_total = "Total" %}
{% assign text_invoice_to_pay = "Facture à payer" %}
{% assign text_closed_invoices = "Factures clôturées" %}
{% assign text_invoice = "Facture" %}
{% assign text_closed_on = "Clôturé le" %}
{% assign text_rank = "Rang" %}
{% assign text_top = "Top" %}
{% assign text_countdown_to = "Compte à rebours jusqu'à" %}
{% assign text_time_left_to_donate = "Temps restant pour faire un don" %}
{% assign text_pledged = "Engagé" %}
{% assign text_pledgers = "Engagés" %}
{% assign text_thanks_for_pledging = "Merci pour votre engagement !" %}
{% assign text_change_pledge_amount = "Modifier votre montant d'engagement" %}
{% assign text_chip_in = "Combien allez-vous contribuer ?" %}
{% assign text_save_pledge = "Enregistrer l'engagement" %}
{% assign text_cancel_pledge = "Annuler l'engagement" %}
{% assign text_add_pledge = "Ajouter un engagement" %}
{% assign text_start_new_nation = "Démarrer votre nouvelle nation." %}
{% assign text_start_sandbox_nation = "Démarrer votre nation bac à sable" %}
{% assign text_your = "Votre" %}
{% assign text_phone_number = "Numéro de téléphone" %}
{% assign text_choose_password = "Choisissez votre mot de passe" %}
{% assign text_repeat_password = "Répéter le mot de passe" %}
{% assign text_choose = "Choisir" %}
{% assign text_language = "Langue" %}
{% assign text_add_domain_later = "Vous pourrez ajouter votre propre domaine plus tard" %}
{% assign text_choose_plan = "Choisissez votre forfait" %}
{% assign text_enter_billing_information = "Entrez vos informations de facturation" %}
{% assign text_14_day_free_trial = "Essai gratuit de 14 jours" %}
{% assign text_start_nation = "Démarrer votre nation" %}
{% assign text_nation = "Nation" %}
{% assign text_plan = "Forfait" %}
{% assign text_email_blasting = "Envoi d'emails en masse ?" %}
{% assign text_text_messaging = "Messagerie texte ?" %}
{% assign text_start_a_new_nation = "Démarrer une nouvelle nation" %}
{% assign text_sign_in_to_your_nation = "Connectez-vous à votre nation" %}
{% assign text_your_nationbuilder_url = "Votre URL NationBuilder" %}
{% assign text_every = "Chaque" %}
{% assign text_purchase = "Acheter" %}
{% assign text_will_you_sign = "Signerez-vous ?" %}
{% assign text_upload_picture = "Télécharger une image" %}
{% assign text_add = "Ajouter" %}
{% assign text_balance = "Solde" %}
{% assign text_earned = "Gagné" %}
{% assign text_spent = "Dépensé" %}
{% assign text_description = "Description" %}
{% assign text_date = "Date" %}
{% assign text_sign_in_political_capital = "Connectez-vous pour voir le capital politique" %}
{% assign text_answer = "Réponse" %}
{% assign text_anyone_referred = "Toute personne référée via votre lien de suivi personnel ou via les boutons ci-dessous vous sera créditée." %}
{% assign text_get_personal_tracking_link = "Pour obtenir votre lien de suivi personnel." %}
{% assign text_personal_tracking_link = "Votre lien de suivi personnel" %}
{% assign text_non_tracking_link = "Lien non suivi" %}
{% assign text_share_on = "Partager sur" %}
{% assign text_tweet_your_followers = "Tweeter à vos abonnés" %}
{% assign text_share_linkedin_network = "Partager avec votre réseau LinkedIn" %}
{% assign text_linkedin = "LinkedIn" %}
{% assign text_post_tumblr_reddit_digg = "Vous pouvez également publier sur tumblr, reddit et digg." %}
{% assign text_post_on = "Publier sur" %}
{% assign text_supporters = "Soutiens" %}
{% assign text_volunteers = "Bénévoles" %}
{% assign text_could_vote = "Pourrait voter" %}
{% assign text_will_vote = "Votera" %}
{% assign text_supporter = "Soutien" %}
{% assign text_volunteer = "Bénévole" %}
{% assign text_donor = "Donateur" %}
{% assign text_see_who_you_ve_recruited = "Vous pourrez voir qui vous avez recruté ci-dessous." %}
{% assign text_when_sign_in_see_who_you_ve_recruited = "Lorsque vous vous connecterez, vous pourrez voir qui vous avez recruté ici." %}
{% assign text_thanks_for_joining = "Adhésion standard: 20€ - soit 6.8€ après réduction d'impôt." %}
{% assign text_to_signup = "Pour s'inscrire" %}
{% assign text_update_info = "Mettre à jour les informations" %}
{% assign text_signup = "Inscription" %}
{% assign text_your_headline = "Votre titre" %}
{% assign text_your_message = "Votre message" %}
{% assign text_wide = "Large" %}
{% assign text_post = "Publier" %}
{% assign text_most_recent = "Plus récent" %}
{% assign text_alphabetical = "Alphabétique" %}
{% assign text_posted_by = "Publié par" %}
{% assign text_official_response_from = "Réponse officielle de" %}
{% assign text_dont_publish_my_responses = "Ne pas publier mes réponses sur le site web" %}
{% assign text_next_question = "Question suivante" %}
{% assign text_this_survey_has_no = "Ce sondage n'a pas de questions publiées." %}
{% assign text_unsubscribe = "Se désabonner" %}
{% assign we_have_you_as_a_volunteer = "Nous vous avons enregistré comme bénévole." %}
{% assign text_update_info_below = "Vous pouvez mettre à jour vos informations ci-dessous." %}
{% assign text_can_you_volunteer = "Pouvez-vous être bénévole ?" %}
{% assign text_will_you_volunteer = "Serez-vous bénévole ?" %}
{% assign text_good_time_to_call = "Quand est-ce un bon moment pour vous appeler ?" %}
{% assign text_save_volunteer_info = "Enregistrer les informations du bénévole" %}
{% assign text_votes = "Votes" %}
{% assign text_you = "Vous" %}
{% assign text_pledged_not = "Engagé à ne pas" %}
{% assign text_not_sure_whether = "A dit ne pas être sûr de" %}
{% assign text_to = "À" %}
{% assign text_vote_for = "Voter pour" %}
{% assign text_support = "Soutenir" %}
{% assign text_i_support = "Je soutiens" %}
{% assign text_i_do_not_support = "Je ne soutiens pas" %}
{% assign text_find = "Trouver" %}
{% assign text_near_you = "Près de vous" %}
{% assign text_enter_valid_location = "Veuillez entrer un lieu valide" %}
{% assign text_campaign_powered = "Notre campagne est alimentée par des soutiens comme vous" %}
{% assign text_donate = "Faire un don" %}
{% assign text_join = "Rejoindre" %}
{% assign text_saving = "Enregistrement" %}
{% assign text_latest = "Dernier" %}
{% assign text_go_to = "Aller à" %}
{% assign text_read_more = "Lire la suite" %}
{% assign text_read = "Lire" %}
{% assign text_cant_find = "Vous ne trouvez pas ce que vous cherchez ?" %}
{% assign text_help_increase_impact = "Aidez-nous à augmenter notre impact !" %}
{% assign text_send_by_email = "Envoyer par email" %}
{% assign text_continue_reading = "Continuer la lecture" %}
{% assign text_show_all_posts = "Afficher tous les articles" %}
{% assign text_sign_up_for_updates = "S'inscrire pour les mises à jour" %}
{% assign text_social_feed = "Flux social" %}
{% assign text_join_the = "Rejoindre le" %}
{% assign text_upcoming_events = "Événements à venir" %}
{% assign text_thanks_for_taking_action = "Merci d'avoir agi !" %}
{% assign help_us_reach_even_more = "Aidez-nous à faire connaître notre projet et invitez vos amis à adhérer à Notre Nation !" %}
{% assign text_home = "Accueil" %}
{% assign text_preview_page = "Aperçu de la page" %}
{% assign text_edit_featured_image = "Modifier l'image en vedette" %}
{% assign text_edit_sharing = "Modifier le partage" %}
{% assign text_theme_documentation = "Documentation du thème" %}
{% assign text_new_blog_post = "Nouvel article de blog" %}
{% assign text_edit_this_page = "Modifier cette page" %}
{% assign text_new_suggestion = "Nouvelle suggestion" %}
{% assign text_new_event = "Nouvel événement" %}
{% assign text_edit_this_blog_post = "Modifier cet article de blog" %}
{% assign text_edit_this_question = "Modifier cette question" %}
{% assign text_edit_questions = "Modifier les questions" %}
{% assign text_edit_this_suggestion = "Modifier cette suggestion" %}
{% assign text_edit_this_event = "Modifier cet événement" %}
{% assign text_edit_this_person = "Modifier cette personne" %}
{% assign text_control_panel = "Panneau de contrôle" %}
{% assign text_until = "Jusqu'à" %}
{% assign text_in = "Dans" %}
{% assign text_sold_out = "Complet" %}
{% assign text_available = "Disponible" %}
{% assign text_spaces_remaining = "Places restantes" %}
{% assign text_see_details = "Voir les détails" %}
{% assign text_buy_tickets = "Acheter des billets" %}
{% assign text_previous = "Précédent" %}
{% assign text_next = "Suivant" %}
{% assign text_checking_facebook = "Vérification de Facebook pour les personnes qui ont rejoint" %}
{% assign text_none_facebook_friends = "Aucun de vos amis Facebook n'a encore rejoint" %}
{% assign text_facebook_friends_joined = "de vos amis Facebook ont rejoint" %}
{% assign text_automatically_following_vice = "Vous les suivez automatiquement, et vice versa" %}
{% assign text_including = "Incluant" %}
{% assign text_checking_twitter = "Vérification de Twitter pour les personnes qui ont rejoint" %}
{% assign text_none_people_on_twitter = "Aucune des personnes que vous suivez sur Twitter n'a rejoint" %}
{% assign text_people_twitter_joined = "Les personnes que vous suivez sur Twitter ont rejoint" %}
{% assign text_automatically_following = "Vous les suivez automatiquement" %}
{% assign text_none_twitter_followers_joined = "Aucun de vos abonnés Twitter n'a rejoint" %}
{% assign text_twitter_followers_joined = "de vos abonnés Twitter ont déjà rejoint" %}
{% assign text_will_you = "" %}
{% assign text_activity_stream = "Flux d'activité" %}
{% assign text_featured_page = "Page en vedette" %}
{% assign text_latest_from_the_blog = "Dernier du blog" %}
{% assign text_see_all_posts = "Voir tous les articles" %}
{% assign text_featured_post = "Article en vedette" %}
{% assign text_through = "À travers" %}
{% assign text_view_event = "Voir l'événement" %}
{% assign text_see_all_events = "Voir tous les événements" %}
{% assign text_raised = "Collecté" %}
{% assign text_endorse = "Soutenir" %}
{% assign text_featured_event = "Événement en vedette" %}
{% assign text_frequently_asked_questions = "Questions fréquemment posées" %}
{% assign text_read_all_faqs = "Lire toutes les FAQ" %}
{% assign text_featured_leaderboard = "Classement en vedette" %}
{% assign text_moneybomb = "Moneybomb" %}
{% assign text_pledge_now = "S'engager maintenant" %}
{% assign text_featured_petition = "Pétition en vedette" %}
{% assign text_featured_press_release = "Communiqué de presse en vedette" %}
{% assign text_featured_question = "Question en vedette" %}
{% assign text_spread_the_word = "Faites passer le mot" %}
{% assign text_anyone_referred_through_tracking_link = "Toute personne référée via votre lien de suivi personnel vous sera créditée" %}
{% assign text_rules = "Règles" %}
{% assign text_sign_up = "S'inscrire" %}
{% assign text_suggestion_box = "Boîte à suggestions" %}
{% assign text_add_your_suggestion = "Ajouter votre suggestion" %}
{% assign text_featured_suggestion = "Suggestion en vedette" %}
{% assign text_post_your_reaction = "Publier votre réaction" %}
{% assign text_survey = "Sondage" %}
{% assign text_take_the_survey = "Répondre au sondage" %}
{% assign text_volunteer_sign_up = "Inscription bénévole" %}
{% assign text_vote_pledge = "Engagement de vote" %}
{% assign text_votes_found = "Votes trouvés" %}
{% assign text_votes = "Votes" %}
{% assign text_change_comment = "Modifier votre commentaire" %}
{% assign text_remove = "Supprimer" %}
{% assign text_click_here_to_signup = "Cliquez ici pour vous inscrire" %}
{% assign text_remove_pledge = "Supprimer l'engagement" %}
{% assign text_do_you_like_this_page = "Aimez-vous cette page ?" %}
{% assign text_do_you_like_this_post = "Aimez-vous cet article ?" %}
{% assign text_like_to_spread_the_word = "Aimez-nous pour faire passer le mot" %}
{% assign text_do_you_like_this = "Aimez-vous ceci ?" %}
{% assign text_what = "Quoi" %}
{% assign text_tickets_start_at = "Les billets commencent à" %}
{% assign text_purchase_tickets = "Acheter des billets" %}
{% assign text_skip_navigation = "Passer la navigation" %}
{% assign text_thanks_survey = "Merci d'avoir répondu au sondage" %}
{% assign text_flag = "Signaler" %}
{% assign text_posted = "Publié" %}
{% assign text_by = "Par" %}
{% assign text_donate_on_actblue = "Faire un don sur ActBlue" %}
{% assign text_purchase_for = "Acheter pour" %}
{% assign text_start_recruiting = "Commencer le recrutement" %}
{% assign text_become_a_volunteer = "Devenir bénévole" %}
{% assign text_pledge_your_vote = "Engagez votre vote" %}
{% assign text_following_reactions = "Réactions suivies" %}
{% assign text_follow_reactions = "Suivre les réactions" %}
{% assign text_showing = "Affichage" %}
{% assign text_be_the_first_to_comment = "Soyez le premier à commenter" %}
{% assign text_tag_suggestion = "Comment voulez-vous étiqueter cette suggestion ?" %}
{% assign text_post_your_comment = "Publier votre commentaire" %}
{% assign text_add_comment_optional = "Ajouter un commentaire (optionnel)" %}
{% assign text_review_site_rules = "Consulter les règles du site" %}
{% assign text_new_recruits_using_tracking_link = "Les nouveaux recrutés utilisant votre lien de suivi ci-dessous vous seront crédités." %}
{% assign text_new_recruits_credited = "Si vous souhaitez que les nouveaux recrutés vous soient crédités." %}
{% assign text_follow = "Suivre" %}
{% assign text_reply = "Répondre" %}
{% assign text_retweet = "Retweeter" %}
{% assign text_favorite = "Favori" %}
{% assign text_favourite = "Favori" %}
{% assign text_following = "Suivant" %}
{% assign default_tweet = "Nous créons des outils numériques puissants pour les organisations progressistes afin de gagner des campagnes. Notre spécialité est la conception et le développement de sites NationBuilder personnalisés." %}
{% assign text_is_following_you = "Vous suit" %}
{% assign text_not = "Non" %}

{% if page.type_name == "Donation" %}
  {% assign activity_type = "Donation" %}
  {% assign ignore_types = "Donation Cancel|Donation Deleted" | split: "|" %}
  {% assign activity_title = "Who's donating" %}
{% elsif page.type_name == "Endorsement" %}
  {% assign activity_type = "Endorsement" %}
  {% assign ignore_types = "" %}
  {% assign activity_title = "Who's endorsing" %}
{% elsif page.type_name == "Event" %}
  {% assign activity_type = "Event RSVP" %}
  {% assign ignore_types = "Event RSVP Cancel" %}
  {% assign activity_title = "Who's RSVPing" %}
{% elsif page.type_name == "Moneybomb" %}
  {% assign activity_type = "Pledge" %}
  {% assign ignore_types = "Pledge Cancel" %}
  {% assign activity_title = "Who's pledging" %}
{% elsif page.type_name == "Petition" %}
  {% assign activity_type = "Petition Signature" %}
  {% assign ignore_types = "" %}
  {% assign activity_title = "Who's signing" %}
{% elsif page.type_name == "Signup" %}
  {% assign activity_type = "Signup" %}
  {% assign ignore_types = "" %}
  {% assign activity_title = "Who's joining" %}
{% elsif page.type_name == "Volunteer Signup" %}
  {% assign activity_type = "Volunteer Signup" %}
  {% assign ignore_types = "Volunteer Quit" %}
  {% assign activity_title = "Who's volunteering" %}
{% elsif page.type_name == "Vote Pledge" %}
  {% assign activity_type = "Supporter Pledge Yes" %}
  {% assign ignore_types = "Supporter Pledge Yes Cancel" %}
  {% assign activity_title = "Who's pledging" %}
{% endif %}

{% assign text_take_action = "Prendre Action" %}
{% assign text_sign_the_petition = "Signer La Pétition" %}
{% assign text_join_now = "Rejoindre maintenant" %}
{% assign text_see_events = "Voir Événements" %}
{% assign text_view_all = "Voir tout" %}
{% assign text_current = "Actuel" %}
{% assign text_user_comment = "Exemple de commentaire de l'utilisateur" %}
{% assign text_my_username = "Mon Nom d'utilisateur" %}
{% assign text_commented = "Commenté" %}
{% assign text_days_ago = "Jours écoulés" %}
{% assign text_panel_content = "Contenu du panneau" %}
{% assign text_zip = "Code postal" %}
{% assign text_select_country = "Sélectionner le pays" %}
{% assign text_play_the_video = "Jouer la vidéo" %}
{% assign text_im_in = "Je suis dedans !" %}
{% assign text_error_in_tag = "Erreur dans la balise" %}
{% assign text_enter_keywords = "Entrer des mots-clés" %}
{% assign text_admin = "Administrateur" %}
{% assign text_display_your_tweet = "Pour afficher votre dernier tweet de panneau, connectez un compte Twitter" %}
{% assign text_message_only_visible = "Ce message n'est visible que pour les utilisateurs administrateurs" %}
{% assign text_create_your_post = "Créer votre publication" %}
{% assign text_total_price = "Prix total" %}
{% assign text_want_a_monthly_donation = "Si vous souhaitez faire une donation mensuelle" %}
{% assign text_would_prefer_one_off_donation = "Préférez-vous faire une donation ponctuelle ?" %}
{% assign text_send_a_message = "Nous contacter" %}
{% assign text_copy_text = "Copier le texte" %}
{% assign text_copied = "Copié !" %}
{% assign text_address = "Adresse" %}
{% assign text_how_would_you_help = "Comment aimeriez-vous vous aider ?" %}
{% assign text_public_profile = "Profil public" %}
{% assign text_no_public_profile = "Pas de profil public" %}
{% assign text_sign_out = "Se déconnecter" %}
{% assign text_banned = "Banni" %}
{% assign text_warning = "Avertissement" %}
{% assign text_violation_singular = "Violation" %}
{% assign text_violation_plural = "Violations" %}
{% assign text_your_pages = "Vos pages" %}
{% assign text_settings = "Paramètres" %}
{% assign text_point_person = "Point de contact" %}
{% assign text_subscribe_with = "S'abonner avec" %}
{% assign text_email_account_activation = "Instructions d'activation du compte email" %}
{% assign text_create_an_account = "Créer un compte" %}
{% assign text_create_account = "Créer un compte" %}
{% assign text_sign_in_with_email = "Se connecter avec email" %}
{% assign text_check_your_email_for_link = "Veuillez vérifier votre e-mail pour un lien d'activation de votre compte." %}
{% assign text_no_i_will_not = "Non, je ne le ferai pas" %}
{% assign text_do_not_contact = "Ne me contactez pas" %}
{% assign text_to_see_if_you_can_vote = "Pour voir si vous pouvez voter" %}
{% assign text_save_settings = "Enregistrer les paramètres" %}
{% assign text_im_not_sure = "Je ne suis pas sûr." %}
{% assign text_any_questions_optional = "Des questions que nous pouvons répondre ? (optionnel)" %}
{% assign text_save = "Enregistrer" %}
{% assign text_yes_i_will = "Oui, je le ferai" %}
{% assign text_thank_you_rsvp = "Merci pour votre RSVP" %}
{% assign text_to_update_or_cancel = "Si vous devez mettre à jour ou annuler votre RSVP, utilisez ce lien :" %}
{% assign text_you_can_invite_others_to_join = "Et vous pouvez inviter d'autres à vous rejoindre à l'événement" %}
{% assign text_just_cancelled = "vient d'annuler son RSVP" %}
{% assign text_for = "Pour" %}
{% assign text_guests = "Invités" %}
{% assign text_referred_by = "Référé par" %}
{% assign text_you_can_edit_your = "Vous pouvez modifier votre" %}
{% assign text_you_can_invite_others_to_come = "Et vous pouvez inviter d'autres à venir à votre" %}
{% assign text_with_this_link = "Avec ce lien :" %}
{% assign text_this = "Ce" %}
{% assign text_was_posted_by_host = "Était publié par l'hôte" %}
{% assign text_please_contact_us_if_any_questions = "Veuillez nous contacter si vous avez des questions ou des préoccupations concernant le contenu et nous travaillerons pour le régler." %}
{% assign text_host = "Hôte" %}
{% assign text_which_rule_violated = "Quelle règle a été violée ?" %}
{% assign text_explanation_optional = "Explication (optionnel)" %}
{% assign text_flag_this_comment = "Signaler ce commentaire" %}
{% assign text_flagging_comment_from = "Signalement de commentaire de" %}
{% assign text_flagging_page = "Signalement de page" %}
{% assign text_flag_this_page = "Signaler cette page" %}
{% assign text_email_was_sent_to = "Cet email a été envoyé à" %}
{% assign text_to_unsubscribe = "Pour vous désabonner" %}
{% assign text_to_stop_receiving_updates = "Pour arrêter de recevoir des mises à jour sur cette page" %}
{% assign text_created_with = "Créé avec" %}
{% assign text_unfollow_here = "Ne vous suivre plus ici" %}
{% assign text_software_for_leaders = "Logiciel pour les leaders" %}
{% assign text_just_commented_on = "Vient d'être commenté" %}
{% assign text_respond_here = "Répondre ici" %}
{% assign text_page_not_found = "La page que vous recherchiez n'a pas été trouvée." %}
{% assign text_recruits = "Recrutés" %}
{% assign text_about = "À propos" %}
{% assign text_action_on_behalf = "Prendre action en nom de" %}
{% assign text_goals = "Objectifs" %}
{% assign text_donations = "Dons" %}
{% assign text_no_donations_collected = "Aucun don collecté." %}
{% assign text_contribute = "Contribuer" %}
{% assign text_total_recruits = "Total des recrutés" %}
{% assign text_no_recruits_counted = "Aucun recruté compté." %}
{% assign text_recruit = "Recruter" %}
{% assign text_recent_activity = "Activité récente" %}
{% assign text_user_name = "Nom d'utilisateur" %}
{% assign text_public_profile_will_be_at = "Votre profil public sera à" %}
{% assign text_username = "Nom d'utilisateur" %}
{% assign text_short_bio = "Bio courte" %}
{% assign text_website = "Site web" %}
{% assign text_headline_profile = "Titre pour votre profil" %}
{% assign text_will_commit_to_fundraising = "Je vais me consacrer à la collecte de fonds :" %}
{% assign text_dont_publish_survey_question = "Ne publiez pas mes réponses à la question de sondage sur le site web" %}
{% assign text_include_me_in_leaderboards = "Inclure moi dans les classements" %}
{% assign text_save_public_settings = "Enregistrer les paramètres publics" %}
{% assign text_private_settings = "Paramètres privés" %}
{% assign text_work_phone = "Téléphone de travail" %}
{% assign text_home_phone = "Téléphone à la maison" %}
{% assign text_save_private_settings = "Enregistrer les paramètres privés" %}
{% assign text_reset_your_password = "Réinitialiser votre mot de passe" %}
{% assign text_pages_tagged = "Pages taguées" %}
{% assign text_dont_have_account = "Vous n'avez pas de compte ?" %}
{% assign text_create_one_here = "Créer un ici" %}
{% assign text_login = "Se connecter" %}
{% assign text_reset_my_password = "Réinitialiser mon mot de passe" %}
{% assign text_already_have_an_account = "Vous avez déjà un compte ?" %}
{% assign text_log_in_here = "Se connecter ici" %}
{% assign text_activate_account = "Activer le compte" %}
{% assign text_save_update_post = "Enregistrer et mettre à jour la publication" %}
{% assign text_length = "Longueur" %}
{% assign text_time_zone = "Fuseau horaire" %}
{% assign text_maximum_capacity = "Capacité maximale" %}
{% assign text_contact_info = "Informations de contact" %}
{% assign text_dont_publish_email = "Ne publiez pas l'adresse email" %}
{% assign text_dont_publish_phone = "Ne publiez pas le numéro de téléphone" %}
{% assign text_location = "Emplacement" %}
{% assign text_venue_name = "Nom du lieu" %}
{% assign text_ticket_price = "Prix du billet" %}
{% assign text_if_free_just_leave_at = "Si gratuit, il suffit de le laisser à" %}
{% assign text_currency = "Devise" %}
{% assign text_ticket_purchase_url = "URL d'achat de billet" %}
{% assign text_description_include_directions = "Description, inclure les directions" %}
{% assign text_allow_people_rsvp = "Autoriser les personnes à RSVP" %}
{% assign text_allow_people_bring_guests = "Autoriser les personnes à emmener des invités" %}
{% assign text_show_whos_coming = "Montrer qui vient" %}
{% assign text_keep_rsvp_hidden = "Garder la page RSVP cachée de tous les autres" %}
{% assign text_save_update_page = "Enregistrer et mettre à jour la page" %}
{% assign text_post_your = "Publier votre" %}
{% assign text_post_your_event = "Publier votre événement" %}
{% assign text_headline = "Titre" %}
{% assign text_post_in = "Publier dans" %}
{% assign text_save_and_post = "Enregistrer et publier" %}
{% assign text_page_name = "Nom de la page" %}
{% assign text_date_authored = "Date d'écriture" %}
{% assign text_edit = "Modifier" %}
{% assign text_password_reset_instructions = "Envoyer des instructions de réinitialisation de mot de passe" %}
{% assign text_change_your_password = "Modifier votre mot de passe" %}
{% assign text_new_password = "Nouveau mot de passe" %}
{% assign text_change_password = "Modifier le mot de passe" %}
{% assign text_save_update_suggestion = "Enregistrer et mettre à jour la suggestion" %}
{% capture text_address_full %}Adresse (Rue, Ville, État, Code Postal){% endcapture %}
{% capture text_mobile_phone_optional %}Téléphone portable (Optionnel){% endcapture %}
{% capture text_no_payment_processor %}<strong>Aucun processeur de paiement :</strong> Cette page ne fonctionnera pas tant que vous n'aurez pas ajouté un processeur de paiement{% endcapture %}
{% capture text_testing_mode %}<strong>Mode test :</strong> Les transactions ne seront pas traitées. Utilisez le numéro de carte de crédit suivant avec n'importe quelle date d'expiration et code de sécurité pour faire un don test : 4242 4242 4242 4242{% endcapture %}
{% capture text_contributions_are_not %}Les contributions <i>ne sont pas</i> déductibles d'impôts.{% endcapture %}
{% capture text_bank_account %}<strong>Aucun compte bancaire :</strong> Cette page ne fonctionnera pas tant que vous n'aurez pas ajouté un compte bancaire{% endcapture %}
{% capture text_i_agree_to_the_democracy_engine %}J'accepte les <a href="http://www.democracyengine.com/subscriber_tos" target="_new">Conditions d'utilisation</a> et la <a href="http://www.democracyengine.com/subscriber_privacy_policy" target="_new">Politique de confidentialité</a> de Democracy Engine. Vous ne recevrez aucun email d'eux, ils se contentent de nous transmettre votre don.{% endcapture %}
{% capture text_will_you_endorse %}Voulez-vous que {% if page.endorsement.require_organization? %}votre organisation{% else %}vous{% endif %} souteniez ?{% endcapture %}
{% capture text_organization_company_optional %}Organisation / Entreprise (Optionnel){% endcapture %}
{% capture text_your_title_optional %}Votre titre (Optionnel){% endcapture %}
{% capture text_comments_optional %}Commentaires (Optionnel){% endcapture %}
{% capture text_upload_image_endorsement %}Télécharger un {% if page.endorsement.require_organization? %}logo{% else %}photo{% endif %}{% endcapture %}
{% capture text_thanks_for_rsvp %}Merci pour votre RSVP.<br>On se voit là-bas !{% endcapture %}
{% capture text_feedback %}{{ page.feedback.content_name }}{% endcapture %}
{% capture text_facebook_not_connected %}<strong>Vous <em>n'avez pas</em> connecté votre compte Facebook.</strong>{% endcapture %}
{% capture text_twitter_not_connected %}<strong>Vous <em>n'avez pas</em> connecté votre compte Twitter.</strong>{% endcapture %}
{% capture text_you_are_following %}Vous suivez <strong>{{ request.current_signup.followings_count }}</strong> personnes.{% endcapture %}
{% capture text_security_code_on_back %}Code de sécurité (au dos){% endcapture %}
{% capture text_note_on_password %}Ce mot de passe est pour votre compte administrateur personnel sur votre nation bac à sable.<br/> Il est séparé de votre mot de passe nationbuilder.com.{% endcapture %}
{% capture text_agree_to_terms_of_service %}J'accepte les <a href="http://nationbuilder.com/tos" target="_blank">conditions d'utilisation de NationBuilder</a>{% endcapture %}
{% capture text_this_password_is_for_your_personal %}Ce mot de passe est pour votre compte administrateur personnel sur votre nouvelle nation.<br/> Il est séparé de votre mot de passe nationbuilder.com.{% endcapture %}
{% capture text_you_wont_be_billed_unless %}<b>Vous ne serez pas facturé à moins que vous ne gardiez votre compte ouvert après votre essai gratuit de 14 jours.</b> Nous avons besoin de vos informations de facturation pour réduire la fraude et vérifier que vous avez une carte de crédit valide au cas où vous garderiez votre nation. Cela évite toute interruption de service. <b>Vous pouvez changer votre forfait ou annuler à tout moment.</b>{% endcapture %}
{% capture text_you_recruited %}Vous avez recruté {{ request.current_signup.recruits_count }} de vos amis !{% endcapture %}
{% capture text_when_are_you_available_optional %}Quand êtes-vous disponible ? (optionnel){% endcapture %}
{% capture text_comments_ideas_optional %}Commentaires, autres idées, etc. (optionnel){% endcapture %}
{% capture text_i_might_support %}<a href="{{ page.vote_pledge.unsure_url }}" class="btn btn-warning neutral-link get">Je pourrais</a> soutenir {{ site.candidate_first_name_or_site_name }}, <a href="{{ site.full_url }}">dites-m'en plus</a>.{% endcapture %}
{% capture text_custom_people_fields_cannot %}Les champs personnalisés ne peuvent pas être demandés sur les pages {{ page.type_name }}. Veuillez vous référer à la <a href="http://nationbuilder.com/request_custom_people_fields_on_webpages" target="_blank">documentation des champs personnalisés de NationBuilder</a> pour plus de détails.{% endcapture %}
{% capture text_automatically_following_you %}Ils vous suivent automatiquement <em>vous</em>{% endcapture %}
{% capture text_created_codenation_using %}Créé par <a href="https://www.codenation.com/?{{ nation_slug }}" target="_blank" class="text-primary">Code Nation</a> utilisant{% endcapture %}
{% capture text_sign_in_to_get_tracking_link %}Connectez-vous avec <a href="{{ request.facebook_connect_url }}">Facebook</a>, <a href="{{ request.twitter_connect_url }}">Twitter</a> ou <a href="/login">email</a> pour obtenir votre lien de suivi personnel{% endcapture %}
{% capture text_i_might_support_for_home_excerpt %}<a href="{{ homepage_excerpt.vote_pledge.unsure_url }}" class="btn btn-warning get"> Je pourrais</a> soutenir {{ site.candidate_first_name_or_site_name }}, <a href="{{ site.full_url}}">dites-m'en plus</a>{% endcapture %}
{% capture text_theme_by %}thème <span id="cn-referral">par <a href="https://www.codenation.com/?{{ nation_slug }}" target="_blank" title="Contactez-nous !" class="text-white">Code Nation</a></span> sur <a href="https://nationbuilder.com/?recruiter_id=716045" target="_blank" class="text-white">NationBuilder</a>{% endcapture %}
{% capture text_persons_profile %}Profil de {{ profile.published_name | split: " " | first }}{% endcapture %}
{% capture text_recruits_collected %}{{ profile.recruits_count }} recrutés ! {{ profile.recruits_count | divided_by:50.00 | times:100.00 }}% de l'objectif{% endcapture %}
{% capture text_your_sites_account %}Votre compte {{ site.name }}{% endcapture %}
{% capture text_dont_publish_profile %}Ne pas publier <a href="{{ signup.profile_url }}">mon profil</a> sur le site web{% endcapture %}
{% capture text_why_you_support %}Pourquoi soutenez-vous {{ site.name }} ?{% endcapture %}
{% capture text_search_engines_find_profile %}Autoriser les moteurs de recherche à trouver <a href="{{ signup.profile_url }}">mon profil</a>{% endcapture %}
{% capture text_create_sites_account %}Créer un compte {{ site.name }}{% endcapture %}