{% assign text_yes = "Yes" %}
{% assign text_no = "No" %}
{% assign text_page_not_found = "The page you were looking for was not found." %}
{% assign text_first_name = "First Name" %}
{% assign text_last_name = "Last Name" %}
{% assign text_email = "Email" %}
{% assign text_street_address = "Street Address" %}
{% assign text_city = "City" %}
{% assign text_state = "State" %}
{% assign text_postcode = "Postcode" %}
{% assign text_phone = "Phone" %}
{% assign text_mobile_phone = "Mobile Phone" %}
{% assign text_optional = "Optional" %}
{% assign text_image = "Image" %}
{% assign text_send_me_email = "Send me email updates" %}
{% assign text_send_me_message = "Send me text message updates" %}
{% assign text_i_want_to_volunteer = "I want to volunteer" %}
{% assign text_dont_publish_on_website = "Don't publish this on the website" %}
{% assign text_connect_to_facebook = "Connect to Facebook to find your friends." %}
{% assign text_connect_to_twitter = "Connect to Twitter to find your friends here." %}
{% assign text_reaction_singular = "Reaction" %}
{% assign text_reaction_plural = "Reactions" %}
{% assign text_add_your_reaction = "Add your reaction" %}
{% assign text_share = "Share" %}
{% assign text_tweet = "Tweet" %}
{% assign text_host_your_own = "Host your own" %}
{% assign text_filter_events = "Filter events" %}
{% assign text_start_date = "Start Date" %}
{% assign text_end_date = "End Date" %}
{% assign text_search = "Search" %}
{% assign text_there_are_currently_no = "There are currently no upcoming" %}
{% assign text_directory_listings = "Directory listings" %}
{% assign text_profile = "Profile" %}
{% assign text_name = "Name" %}
{% assign text_social_capital = "Social Capital" %}
{% assign text_socials = "Socials" %}
{% assign text_follows = "Follows" %}
{% assign text_please_verify_password = "Please verify your password" %}
{% assign text_please_activate = "Please activate your account" %}
{% assign text_please_sign_in = "Please sign in" %}
{% assign text_forgot_password = "Forgot your password?" %}
{% assign text_or_sign_in_with = "Or sign in with" %}
{% assign text_if_you_are_not = "If you're not" %}
{% assign text_click_here = "Click here" %}
{% assign text_sign_in_with = "Sign in with" %}
{% assign text_remember_me = "Remember me" %}
{% assign text_goal = "Goal" %}
{% assign text_donors_goal = "Donors Goal" %}
{% assign text_your_order = "Your order" %}
{% assign text_billed_automatically_every = "billed automatically every" %}
{% assign text_clear_order = "Clear order" %}
{% assign text_select_your_amount = "Select your amount" %}
{% assign text_paid_monthly = "Paid monthly" %}
{% assign text_paid_annually = "Paid annually" %}
{% assign text_payment_options = "Payment options" %}
{% assign text_continue = "Continue" %}
{% assign text_your_information = "Your information" %}
{% assign text_country = "Country" %}
{% assign text_address_1 = "Address 1" %}
{% assign text_address_2 = "Address 2" %}
{% assign text_address_3 = "Address 3" %}
{% assign text_send_email_updates = "Send email updates" %}
{% assign text_employer = "Employer" %}
{% assign text_occupation = "Occupation" %}
{% assign text_employer_country = "Employer Country" %}
{% assign text_employer_address_1 = "Employer Address 1" %}
{% assign text_employer_address_2 = "Employer Address 2" %}
{% assign text_employer_address_3 = "Employer Address 3" %}
{% assign text_employer_city = "Employer City" %}
{% assign text_law_requires = "Law requires we ask for your employer and occupation. If you don't have an employer or are retired, put N/A, and if you are self-employed put 'self-employed' in employer and describe your occupation." %}
{% assign text_this_is_a_contribution = "This is a contribution from a business." %}
{% assign text_contributions_are = "Contributions are tax deductible." %}
{% assign text_back = "Back" %}
{% assign text_payment_information = "Payment information" %}
{% assign text_credit_card = "Credit Card" %}
{% assign text_contribution_rules = "Contribution rules" %}
{% assign text_i_confirm = "I confirm that the above statements are true and accurate." %}
{% assign text_dont_publish_donation = "Don't publish my donation on the website." %}
{% assign text_please_select_amount = "Please select an amount" %}
{% assign text_paid_monthly = "Paid monthly" %}
{% assign text_process_payment = "Process Payment" %}
{% assign text_donate_now = "Donate now" %}
{% assign text_donors = "Donors" %}
{% assign text_your_credit_card = "Your credit card will be billed automatically every month" %}
{% assign text_i_want_to_pay_this_in = "I want to pay this in" %}
{% assign text_installments = "Installments" %}
{% assign text_your_details = "Your details" %}
{% assign text_credit_card_number = "Credit Card Number" %}
{% assign text_expires = "Expires" %}
{% assign text_security_code = "Security Code" %}
{% assign text_continue_paypal = "Continue to Paypal" %}
{% assign text_process_donation = "Process Donation" %}
{% assign text_endorsements = "Endorsements" %}
{% assign text_thank_you_for_signing = "Thank you for signing!" %}
{% assign text_you_can_also = "You can also" %}
{% assign text_hi = "Hi" %}
{% assign text_if_you_re_not = "If you're not" %}
{% assign text_organization_company = "Organization / Company" %}
{% assign text_your_title = "Your Title" %}
{% assign text_my_organization = "My organization is making the endorsement" %}
{% assign text_add_endorsement = "Add endorsement" %}
{% assign text_featured_endorsements = "Featured endorsements" %}
{% assign text_when = "When" %}
{% assign text_where = "Where" %}
{% assign text_map_and_directions = "Google map and directions" %}
{% assign text_contact = "Contact" %}
{% assign text_tickets = "Tickets" %}
{% assign text_free = "Free" %}
{% assign text_will_you_come = "Will you come?" %}
{% assign text_did_a_host = "Did a host refer you?" %}
{% assign text_rsvp_canceled = "Your RSVP was canceled." %}
{% assign text_uncancel_rsvp = "Uncancel RSVP." %}
{% assign text_change_number_guests = "Change the number of guests you're bringing" %}
{% assign text_cancel_not_coming = "Cancel, I'm not coming." %}
{% assign text_update_rsvp = "Update RSVP" %}
{% assign text_cancel_rsvp = "Cancel RSVP" %}
{% assign text_event_sold_out = "Sorry, this event is sold out." %}
{% assign text_how_many_people = "How many other people are you bringing?" %}
{% assign text_choose_shifts = "Choose shifts" %}
{% assign text_dont_publish_rsvp = "Don't publish my RSVP on the website" %}
{% assign text_also_rsvp_on = "Also RSVP on" %}
{% assign text_send_rsvp = "Send RSVP" %}
{% assign text_note_ticket = "NOTE: After RSVP, you will still need to purchase a ticket" %}
{% assign text_here = "Here" %}
{% assign text_or = "Or" %}
{% assign text_dont_post_publicly = "Don't post this publicly" %}
{% assign text_facebook_connected = "You connected your Facebook account." %}
{% assign text_twitter_connected = "You connected your Twitter account." %}
{% assign text_sign_find_people = "Sign in to find people you follow" %}
{% assign text_password = "Password" %}
{% assign text_sign_in_with_password = "Sign in with password" %}
{% assign text_sign_in = "Sign in" %}
{% assign text_no_outstanding_invoices = "You have no outstanding invoices." %}
{% assign text_quantity = "Quantity" %}
{% assign text_amount = "Amount" %}
{% assign text_total = "Total" %}
{% assign text_invoice_to_pay = "Invoice to pay" %}
{% assign text_closed_invoices = "Closed invoices" %}
{% assign text_invoice = "Invoice" %}
{% assign text_closed_on = "Closed on" %}
{% assign text_rank = "Rank" %}
{% assign text_top = "Top" %}
{% assign text_countdown_to = "Countdown to" %}
{% assign text_time_left_to_donate = "Time left to donate" %}
{% assign text_pledged = "Pledged" %}
{% assign text_pledgers = "Pledgers" %}
{% assign text_thanks_for_pledging = "Thank you for pledging!" %}
{% assign text_change_pledge_amount = "Change your pledge amount" %}
{% assign text_chip_in = "How much will you chip in?" %}
{% assign text_save_pledge = "Save pledge" %}
{% assign text_cancel_pledge = "Cancel pledge" %}
{% assign text_add_pledge = "Add pledge" %}
{% assign text_start_new_nation = "Start your new nation." %}
{% assign text_start_sandbox_nation = "Start your sandbox nation" %}
{% assign text_your = "Your" %}
{% assign text_phone_number = "Phone Number" %}
{% assign text_choose_password = "Choose your password" %}
{% assign text_repeat_password = "Repeat password" %}
{% assign text_choose = "Choose" %}
{% assign text_language = "Language" %}
{% assign text_add_domain_later = "You can add your own domain later" %}
{% assign text_choose_plan = "Choose your plan" %}
{% assign text_enter_billing_information = "Enter your billing information" %}
{% assign text_14_day_free_trial = "14 day free trial" %}
{% assign text_start_nation = "Start your nation" %}
{% assign text_nation = "Nation" %}
{% assign text_plan = "Plan" %}
{% assign text_email_blasting = "Email blasting?" %}
{% assign text_text_messaging = "Text messaging?" %}
{% assign text_start_a_new_nation = "Start a new nation" %}
{% assign text_sign_in_to_your_nation = "Sign in to your nation" %}
{% assign text_your_nationbuilder_url = "Your NationBuilder URL" %}
{% assign text_every = "Every" %}
{% assign text_purchase = "Purchase" %}
{% assign text_will_you_sign = "Will you sign?" %}
{% assign text_upload_picture = "Upload a picture" %}
{% assign text_add = "Add" %}
{% assign text_balance = "Balance" %}
{% assign text_earned = "Earned" %}
{% assign text_spent = "Spent" %}
{% assign text_description = "Description" %}
{% assign text_date = "Date" %}
{% assign text_sign_in_political_capital = "Sign in to view political capital" %}
{% assign text_answer = "Answer" %}
{% assign text_anyone_referred = "Anyone referred through your personal tracking link or through the buttons below will be credited to you." %}
{% assign text_get_personal_tracking_link = "To get your personal tracking link." %}
{% assign text_personal_tracking_link = "Your personal tracking link" %}
{% assign text_non_tracking_link = "Non tracking link" %}
{% assign text_share_on = "Share on" %}
{% assign text_tweet_your_followers = "Tweet your followers" %}
{% assign text_share_linkedin_network = "Share with your LinkedIn network" %}
{% assign text_linkedin = "LinkedIn" %}
{% assign text_post_tumblr_reddit_digg = "You can also post to tumblr, reddit, and digg." %}
{% assign text_post_on = "Post on" %}
{% assign text_supporters = "Supporters" %}
{% assign text_volunteers = "Volunteers" %}
{% assign text_could_vote = "Could Vote" %}
{% assign text_will_vote = "Will Vote" %}
{% assign text_supporter = "Supporter" %}
{% assign text_volunteer = "Volunteer" %}
{% assign text_donor = "Donor" %}
{% assign text_see_who_you_ve_recruited = "You will be able to see who you've recruited below." %}
{% assign text_when_sign_in_see_who_you_ve_recruited = "When you sign in, you will be able to see who you've recruited here." %}
{% assign text_thanks_for_joining = "Thanks for joining!" %}
{% assign text_to_signup = "To signup" %}
{% assign text_update_info = "Update info" %}
{% assign text_signup = "Signup" %}
{% assign text_your_headline = "Your headline" %}
{% assign text_your_message = "Your message" %}
{% assign text_wide = "Wide" %}
{% assign text_post = "Post" %}
{% assign text_most_recent = "Most recent" %}
{% assign text_alphabetical = "Alphabetical" %}
{% assign text_posted_by = "Posted by" %}
{% assign text_official_response_from = "Official response from" %}
{% assign text_dont_publish_my_responses = "Don't publish my responses on the website" %}
{% assign text_next_question = "Next question" %}
{% assign text_this_survey_has_no = "This survey has no published questions." %}
{% assign text_unsubscribe = "Unsubscribe" %}
{% assign we_have_you_as_a_volunteer = "We have you down as a volunteer." %}
{% assign text_update_info_below = "You can update your info below." %}
{% assign text_can_you_volunteer = "Can you volunteer?" %}
{% assign text_will_you_volunteer = "Will you volunteer?" %}
{% assign text_good_time_to_call = "When is a good time to call?" %}
{% assign text_save_volunteer_info = "Save volunteer info" %}
{% assign text_votes = "Votes" %}
{% assign text_you = "You" %}
{% assign text_pledged_not = "Pledged not" %}
{% assign text_not_sure_whether = "Said you were not sure whether" %}
{% assign text_to = "To" %}
{% assign text_vote_for = "Vote for" %}
{% assign text_support = "Support" %}
{% assign text_i_support = "I support" %}
{% assign text_i_do_not_support = "I do not support" %}
{% assign text_find = "Find" %}
{% assign text_near_you = "Near you" %}
{% assign text_enter_valid_location = "Please enter a valid location" %}
{% assign text_campaign_powered = "Our campaign is powered by supporters like you" %}
{% assign text_donate = "Donate" %}
{% assign text_join = "Join" %}
{% assign text_saving = "Saving" %}
{% assign text_latest = "Latest" %}
{% assign text_go_to = "Go to" %}
{% assign text_read_more = "Read More" %}
{% assign text_read = "Read" %}
{% assign text_cant_find = "Can't find what you're looking for?" %}
{% assign text_help_increase_impact = "Help increase our impact!" %}
{% assign text_send_by_email = "Send by Email" %}
{% assign text_continue_reading = "Continue Reading" %}
{% assign text_show_all_posts = "Show all posts" %}
{% assign text_sign_up_for_updates = "Sign up for updates" %}
{% assign text_social_feed = "Social Feed" %}
{% assign text_join_the = "Join the" %}
{% assign text_upcoming_events = "Upcoming events" %}
{% assign text_thanks_for_taking_action = "Thanks for taking action!" %}
{% assign help_us_reach_even_more = "Help us reach even more people by sharing this with your friends" %}
{% assign text_home = "Home" %}
{% assign text_preview_page = "Preview page" %}
{% assign text_edit_featured_image = "Edit featured image" %}
{% assign text_edit_sharing = "Edit sharing" %}
{% assign text_theme_documentation = "Theme documentation" %}
{% assign text_new_blog_post = "New blog post" %}
{% assign text_edit_this_page = "Edit this page" %}
{% assign text_new_suggestion = "New suggestion" %}
{% assign text_new_event = "New event" %}
{% assign text_edit_this_blog_post = "Edit this blog post" %}
{% assign text_edit_this_question = "Edit this question" %}
{% assign text_edit_questions = "Edit questions" %}
{% assign text_edit_this_suggestion = "Edit this suggestion" %}
{% assign text_edit_this_event = "Edit this event" %}
{% assign text_edit_this_person = "Edit this person" %}
{% assign text_control_panel = "Control panel" %}
{% assign text_until = "Until" %}
{% assign text_in = "In" %}
{% assign text_sold_out = "Sold Out" %}
{% assign text_available = "Available" %}
{% assign text_spaces_remaining = "Spaces remaining" %}
{% assign text_see_details = "See details" %}
{% assign text_buy_tickets = "Buy tickets" %}
{% assign text_previous = "Previous" %}
{% assign text_next = "Next" %}
{% assign text_checking_facebook = "Checking Facebook for people who have joined" %}
{% assign text_none_facebook_friends = "None of your Facebook friends have joined yet" %}
{% assign text_facebook_friends_joined = "of your Facebook friends have joined" %}
{% assign text_automatically_following_vice = "You are automatically following them, and vice versa" %}
{% assign text_including = "Including" %}
{% assign text_checking_twitter = "Checking Twitter for people who have joined" %}
{% assign text_none_people_on_twitter = "None of the people you follow on Twitter have joined" %}
{% assign text_people_twitter_joined = "People you follow on Twitter have joined" %}
{% assign text_automatically_following = "You are automatically following them" %}
{% assign text_none_twitter_followers_joined = "None of your Twitter followers have joined" %}
{% assign text_twitter_followers_joined = "of your Twitter followers have already joined" %}
{% assign text_will_you = "Will you" %}
{% assign text_activity_stream = "Activity stream" %}
{% assign text_featured_page = "Featured page" %}
{% assign text_latest_from_the_blog = "Latest from the blog" %}
{% assign text_see_all_posts = "See all posts" %}
{% assign text_featured_post = "Featured post" %}
{% assign text_through = "Through" %}
{% assign text_view_event = "View event" %}
{% assign text_see_all_events = "See all events" %}
{% assign text_raised = "Raised" %}
{% assign text_endorse = "Endorse" %}
{% assign text_featured_event = "Featured event" %}
{% assign text_frequently_asked_questions = "Frequently asked questions" %}
{% assign text_read_all_faqs = "Read all FAQ's" %}
{% assign text_featured_leaderboard = "Featured leaderboard" %}
{% assign text_moneybomb = "Moneybomb" %}
{% assign text_pledge_now = "Pledge Now" %}
{% assign text_featured_petition = "Featured petition" %}
{% assign text_featured_press_release = "Featured press release" %}
{% assign text_featured_question = "Featured question" %}
{% assign text_spread_the_word = "Spread the word" %}
{% assign text_anyone_referred_through_tracking_link = "Anyone referred through your personal tracking link will credited to you" %}
{% assign text_rules = "Rules" %}
{% assign text_sign_up = "Sign up" %}
{% assign text_suggestion_box = "Suggestion box" %}
{% assign text_add_your_suggestion = "Add your suggestion" %}
{% assign text_featured_suggestion = "Featured suggestion" %}
{% assign text_post_your_reaction = "Post your reaction" %}
{% assign text_survey = "Survey" %}
{% assign text_take_the_survey = "Take the survey" %}
{% assign text_volunteer_sign_up = "Volunteer sign up" %}
{% assign text_vote_pledge = "Vote Pledge" %}
{% assign text_votes_found = "Votes Found" %}
{% assign text_votes = "Votes" %}
{% assign text_change_comment = "Change your comment" %}
{% assign text_remove = "Remove" %}
{% assign text_click_here_to_signup = "Click here to signup" %}
{% assign text_remove_pledge = "Remove pledge" %}
{% assign text_do_you_like_this_page = "Do you like this page?" %}
{% assign text_do_you_like_this_post = "Do you like this post?" %}
{% assign text_like_to_spread_the_word = "Like us to spread the word" %}
{% assign text_do_you_like_this = "Do you like this?" %}
{% assign text_what = "What" %}
{% assign text_tickets_start_at = "Tickets start at" %}
{% assign text_purchase_tickets = "Purchase tickets" %}
{% assign text_skip_navigation = "Skip navigation" %}
{% assign text_thanks_survey = "Thanks for taking the survey" %}
{% assign text_flag = "Flag" %}
{% assign text_posted = "Posted" %}
{% assign text_by = "By" %}
{% assign text_donate_on_actblue = "Donate on ActBlue" %}
{% assign text_purchase_for = "Purchase for" %}
{% assign text_start_recruiting = "Start recruiting" %}
{% assign text_become_a_volunteer = "Become a volunteer" %}
{% assign text_pledge_your_vote = "Pledge your vote" %}
{% assign text_following_reactions = "Following Reactions" %}
{% assign text_follow_reactions = "Follow Reactions" %}
{% assign text_showing = "Showing" %}
{% assign text_be_the_first_to_comment = "Be the first to comment" %}
{% assign text_tag_suggestion = "How would you tag this suggestion?" %}
{% assign text_post_your_comment = "Post your comment" %}
{% assign text_add_comment_optional = "Add comment (optional)" %}
{% assign text_review_site_rules = "Review the site rules" %}
{% assign text_new_recruits_using_tracking_link = "New recruits using your tracking link below will be credited to you." %}
{% assign text_new_recruits_credited = "If you'd like new recruits to be credited to you." %}
{% assign text_follow = "Follow" %}
{% assign text_reply = "Reply" %}
{% assign text_retweet = "Retweet" %}
{% assign text_favorite = "Favorite" %}
{% assign text_favourite = "Favourite" %}
{% assign text_following = "Following" %}
{% assign default_tweet = "We create powerful digital tools for progressive organisations to win campaigns. Our specialty is design and development of custom NationBuilder sites." %}
{% assign text_is_following_you = "Is following you" %}
{% assign text_not = "Not" %}

{% if page.type_name == "Donation" %}
  {% assign activity_type = "Donation" %}
  {% assign ignore_types = "Donation Cancel|Donation Deleted" | split: "|" %}
  {% assign activity_title = "Who's donating" %}
{% elsif page.type_name == "Endorsement" %}
  {% assign activity_type = "Endorsement" %}
  {% assign ignore_types = "" %}
  {% assign activity_title = "Who's endorsing" %}
{% elsif page.type_name == "Event" %}
  {% assign activity_type = "Event RSVP" %}
  {% assign ignore_types = "Event RSVP Cancel" %}
  {% assign activity_title = "Who's RSVPing" %}
{% elsif page.type_name == "Moneybomb" %}
  {% assign activity_type = "Pledge" %}
  {% assign ignore_types = "Pledge Cancel" %}
  {% assign activity_title = "Who's pledging" %}
{% elsif page.type_name == "Petition" %}
  {% assign activity_type = "Petition Signature" %}
  {% assign ignore_types = "" %}
  {% assign activity_title = "Who's signing" %}
{% elsif page.type_name == "Signup" %}
  {% assign activity_type = "Signup" %}
  {% assign ignore_types = "" %}
  {% assign activity_title = "Who's joining" %}
{% elsif page.type_name == "Volunteer Signup" %}
  {% assign activity_type = "Volunteer Signup" %}
  {% assign ignore_types = "Volunteer Quit" %}
  {% assign activity_title = "Who's volunteering" %}
{% elsif page.type_name == "Vote Pledge" %}
  {% assign activity_type = "Supporter Pledge Yes" %}
  {% assign ignore_types = "Supporter Pledge Yes Cancel" %}
  {% assign activity_title = "Who's pledging" %}
{% endif %}

{% assign text_take_action = "Take Action" %}
{% assign text_sign_the_petition = "Sign The Petition" %}
{% assign text_join_now = "Join Now" %}
{% assign text_see_events = "See Events" %}
{% assign text_view_all = "View all" %}
{% assign text_current = "Current" %}
{% assign text_user_comment = "User Comment Example" %}
{% assign text_my_username = "My Username" %}
{% assign text_commented = "Commented" %}
{% assign text_days_ago = "Days ago" %}
{% assign text_panel_content = "Panel content" %}
{% assign text_zip = "Zip" %}
{% assign text_select_country = "Select Country" %}
{% assign text_play_the_video = "Play the video" %}
{% assign text_im_in = "I'm in!" %}
{% assign text_error_in_tag = "Error in tag" %}
{% assign text_enter_keywords = "Enter keywords" %}
{% assign text_admin = "Admin" %}
{% assign text_display_your_tweet = "To display your latest tweet panel connect a Twitter account" %}
{% assign text_message_only_visible = "This message is only visible to admin users" %}
{% assign text_create_your_post = "Create your post" %}
{% assign text_total_price = "Total Price" %}
{% assign text_want_a_monthly_donation = "If you want to make a monthly donation" %}
{% assign text_would_prefer_one_off_donation = "Would you prefer to make a one-off donation?" %}
{% assign text_send_a_message = "Send a message" %}
{% assign text_copy_text = "Copy text" %}
{% assign text_copied = "Copied!" %}
{% assign text_address = "Address" %}
{% assign text_how_would_you_help = "How would you like to help?" %}
{% assign text_public_profile = "Public profile" %}
{% assign text_no_public_profile = "No public profile" %}
{% assign text_sign_out = "Sign out" %}
{% assign text_banned = "Banned" %}
{% assign text_warning = "Warning" %}
{% assign text_violation_singular = "Violation" %}
{% assign text_violation_plural = "Violations" %}
{% assign text_your_pages = "Your pages" %}
{% assign text_settings = "Settings" %}
{% assign text_point_person = "Point person" %}
{% assign text_subscribe_with = "Subscribe with" %}
{% assign text_email_account_activation = "Email account activation instructions" %}
{% assign text_create_an_account = "Create an account" %}
{% assign text_create_account = "Create account" %}
{% assign text_sign_in_with_email = "Sign in with email" %}
{% assign text_check_your_email_for_link = "Please check your e-mail for a link to activate your account." %}
{% assign text_no_i_will_not = "No, I will not" %}
{% assign text_do_not_contact = "Do not contact me" %}
{% assign text_to_see_if_you_can_vote = "To see if you can vote" %}
{% assign text_save_settings = "Save settings" %}
{% assign text_im_not_sure = "I'm not sure." %}
{% assign text_any_questions_optional = "Any questions we can answer? (optional)" %}
{% assign text_save = "Save" %}
{% assign text_yes_i_will = "Yes, I will" %}
{% assign text_thank_you_rsvp = "Thank you for your RSVP" %}
{% assign text_to_update_or_cancel = "If you need to update or cancel your RSVP, use this link:" %}
{% assign text_you_can_invite_others_to_join = "And you can invite others to join you at the event" %}
{% assign text_just_cancelled = "just CANCELED their rsvp" %}
{% assign text_for = "For" %}
{% assign text_guests = "Guests" %}
{% assign text_referred_by = "Referred by" %}
{% assign text_you_can_edit_your = "You can edit your" %}
{% assign text_you_can_invite_others_to_come = "And you can invite others to come to your" %}
{% assign text_with_this_link = "With this link:" %}
{% assign text_this = "This" %}
{% assign text_was_posted_by_host = "Was posted by the host" %}
{% assign text_please_contact_us_if_any_questions = "Please contact us if you have any questions or concerns about it's content and we will work to get it fixed." %}
{% assign text_host = "Host" %}
{% assign text_which_rule_violated = "Which rule was violated?" %}
{% assign text_explanation_optional = "Explanation (optional)" %}
{% assign text_flag_this_comment = "Flag this comment" %}
{% assign text_flagging_comment_from = "Flagging comment from" %}
{% assign text_flagging_page = "Flagging page" %}
{% assign text_flag_this_page = "Flag this page" %}
{% assign text_email_was_sent_to = "This email was sent to" %}
{% assign text_to_unsubscribe = "To unsubscribe" %}
{% assign text_to_stop_receiving_updates = "To stop receiving updates on this page" %}
{% assign text_created_with = "Created with" %}
{% assign text_unfollow_here = "Unfollow here" %}
{% assign text_software_for_leaders = "Software for leaders" %}
{% assign text_just_commented_on = "Just commented on" %}
{% assign text_respond_here = "Respond here" %}
{% assign text_page_not_found = "The page you were looking for was not found." %}
{% assign text_recruits = "Recruits" %}
{% assign text_about = "About" %}
{% assign text_action_on_behalf = "Take action on behalf of" %}
{% assign text_goals = "Goals" %}
{% assign text_donations = "Donations" %}
{% assign text_no_donations_collected = "No donations collected." %}
{% assign text_contribute = "Contribute" %}
{% assign text_total_recruits = "Total Recruits" %}
{% assign text_no_recruits_counted = "No recruits counted." %}
{% assign text_recruit = "Recruit" %}
{% assign text_recent_activity = "Recent Activity" %}
{% assign text_user_name = "User name" %}
{% assign text_public_profile_will_be_at = "Your public profile will be at" %}
{% assign text_username = "Username" %}
{% assign text_short_bio = "Short bio" %}
{% assign text_website = "Website" %}
{% assign text_headline_profile = "Headline for your profile" %}
{% assign text_will_commit_to_fundraising = "I will commit to fundraising:" %}
{% assign text_dont_publish_survey_question = "Don't publish my survey question answers on the website" %}
{% assign text_include_me_in_leaderboards = "Include me in leaderboards" %}
{% assign text_save_public_settings = "Save public settings" %}
{% assign text_private_settings = "Private settings" %}
{% assign text_work_phone = "Work Phone" %}
{% assign text_home_phone = "Home Phone" %}
{% assign text_save_private_settings = "Save private settings" %}
{% assign text_reset_your_password = "Reset your password" %}
{% assign text_pages_tagged = "Pages tagged" %}
{% assign text_dont_have_account = "Don't have an account?" %}
{% assign text_create_one_here = "Create one here" %}
{% assign text_login = "Login" %}
{% assign text_reset_my_password = "Reset my password" %}
{% assign text_already_have_an_account = "Already have an account?" %}
{% assign text_log_in_here = "Log in here" %}
{% assign text_activate_account = "Activate account" %}
{% assign text_save_update_post = "Save and update post" %}
{% assign text_length = "Length" %}
{% assign text_time_zone = "Time zone" %}
{% assign text_maximum_capacity = "Maximum capacity" %}
{% assign text_contact_info = "Contact info" %}
{% assign text_dont_publish_email = "Don't publish email address" %}
{% assign text_dont_publish_phone = "Don't publish phone number" %}
{% assign text_location = "Location" %}
{% assign text_venue_name = "Venue name" %}
{% assign text_ticket_price = "Ticket price" %}
{% assign text_if_free_just_leave_at = "If free, just leave at" %}
{% assign text_currency = "Currency" %}
{% assign text_ticket_purchase_url = "Ticket purchase URL" %}
{% assign text_description_include_directions = "Description, include directions" %}
{% assign text_allow_people_rsvp = "Allow people to RSVP" %}
{% assign text_allow_people_bring_guests = "Allow people to bring guests" %}
{% assign text_show_whos_coming = "Show who is coming" %}
{% assign text_keep_rsvp_hidden = "Keep the RSVP page hidden from the rest of the site" %}
{% assign text_save_update_page = "Save and update page" %}
{% assign text_post_your = "Post your" %}
{% assign text_post_your_event = "Post your event" %}
{% assign text_headline = "Headline" %}
{% assign text_post_in = "Post in" %}
{% assign text_save_and_post = "Save and post" %}
{% assign text_page_name = "Page name" %}
{% assign text_date_authored = "Date authored" %}
{% assign text_edit = "Edit" %}
{% assign text_password_reset_instructions = "Send password reset instructions" %}
{% assign text_change_your_password = "Change your password" %}
{% assign text_new_password = "New password" %}
{% assign text_change_password = "Change password" %}
{% assign text_save_update_suggestion = "Save and update suggestion" %}
{% capture text_address_full %}Address (Street, City, State, Postal Code){% endcapture %}
{% capture text_mobile_phone_optional %}Mobile Phone (Optional){% endcapture %}
{% capture text_no_payment_processor %}<strong>No payment processor:</strong> This page will not work until you add a payment processor{% endcapture %}
{% capture text_testing_mode %}<strong>Testing mode:</strong> Transactions will not be processed. Use the following credit card number with any expiry date and security code to make a test donation: 4242 4242 4242 4242{% endcapture %}
{% capture text_contributions_are_not %}Contributions are <i>not</i> tax deductible.{% endcapture %}
{% capture text_bank_account %}<strong>No bank account:</strong> This page will not work until you add a bank account{% endcapture %}
{% capture text_i_agree_to_the_democracy_engine %}I agree to the Democracy Engine <a href="http://www.democracyengine.com/subscriber_tos" target="_new">Terms of Service</a> and <a href="http://www.democracyengine.com/subscriber_privacy_policy" target="_new">Privacy Policy</a>. You will not receive any emails from them, they just deliver your donation to us.{% endcapture %}
{% capture text_will_you_endorse %}Will {% if page.endorsement.require_organization? %}your organization{% else %}you{% endif %} endorse?{% endcapture %}
{% capture text_organization_company_optional %}Organization / Company (Optional){% endcapture %}
{% capture text_your_title_optional %}Your Title (Optional){% endcapture %}
{% capture text_comments_optional %}Comments (Optional){% endcapture %}
{% capture text_upload_image_endorsement %}Upload a {% if page.endorsement.require_organization? %}logo{% else %}picture{% endif %}{% endcapture %}
{% capture text_thanks_for_rsvp %}Thank you for rsvp'ing.<br>We'll see you there!{% endcapture %}
{% capture text_feedback %}{{ page.feedback.content_name }}{% endcapture %}
{% capture text_facebook_not_connected %}<strong>You have <em>not</em> connected your Facebook account.</strong>{% endcapture %}
{% capture text_twitter_not_connected %}<strong>You have <em>not</em> connected your Twitter account.</strong>{% endcapture %}
{% capture text_you_are_following %}You are following <strong>{{ request.current_signup.followings_count }}</strong> people.{% endcapture %}
{% capture text_security_code_on_back %}Security code (on back){% endcapture %}
{% capture text_note_on_password %}This password is for your personal administrator account on your sandbox nation.<br/> It is separate from your nationbuilder.com password.{% endcapture %}
{% capture text_agree_to_terms_of_service %}I agree to the <a href="http://nationbuilder.com/tos" target="_blank">NationBuilder terms of service</a>{% endcapture %}
{% capture text_this_password_is_for_your_personal %}This password is for your personal administrator account on your new nation.<br/> It is separate from your nationbuilder.com password.{% endcapture %}
{% capture text_you_wont_be_billed_unless %}<b>You won't be billed unless you keep your account open past your 14 day free trial.</b> We need your billing information to reduce fraud and verify you have a valid credit card should you keep your nation. This prevents any interruption in service. <b>You can change your plan or cancel at anytime.</b>{% endcapture %}
{% capture text_you_recruited %}You've recruited {{ request.current_signup.recruits_count }} of your friends!{% endcapture %}
{% capture text_when_are_you_available_optional %}When are you available? (optional){% endcapture %}
{% capture text_comments_ideas_optional %}Comments, other ideas, etc. (optional){% endcapture %}
{% capture text_i_might_support %}<a href="{{ page.vote_pledge.unsure_url }}" class="btn btn-warning neutral-link get">I might</a> support {{ site.candidate_first_name_or_site_name }}, <a href="{{ site.full_url }}">tell me more</a>.{% endcapture %}
{% capture text_custom_people_fields_cannot %}Custom people fields cannot be requested on {{ page.type_name }} pages. Please refer to the <a href="http://nationbuilder.com/request_custom_people_fields_on_webpages" target="_blank">NationBuilder custom fields documentation</a> for more details.{% endcapture %}
{% capture text_automatically_following_you %}They are automatically following <em>you</em>{% endcapture %}
{% capture text_created_codenation_using %}Created by <a href="https://www.codenation.com/?{{ nation_slug }}" target="_blank" class="text-primary">Code Nation</a> using{% endcapture %}
{% capture text_sign_in_to_get_tracking_link %}Sign in with <a href="{{ request.facebook_connect_url }}">Facebook</a>, <a href="{{ request.twitter_connect_url }}">Twitter</a> or <a href="/login">email</a> to get your personal tracking link{% endcapture %}
{% capture text_i_might_support_for_home_excerpt %}<a href="{{ homepage_excerpt.vote_pledge.unsure_url }}" class="btn btn-warning get"> I might</a> support {{ site.candidate_first_name_or_site_name }}, <a href="{{ site.full_url}}">tell me more</a>{% endcapture %}
{% capture text_theme_by %}theme <span id="cn-referral">by <a href="https://www.codenation.com/?{{ nation_slug }}" target="_blank" title="Get in touch!" class="text-white">Code Nation</a></span> on <a href="https://nationbuilder.com/?recruiter_id=716045" target="_blank" class="text-white">NationBuilder</a>{% endcapture %}
{% capture text_persons_profile %}{{ profile.published_name | split: " " | first }}'s Profile{% endcapture %}
{% capture text_recruits_collected %}{{ profile.recruits_count }} collected! {{ profile.recruits_count | divided_by:50.00 | times:100.00 }}% of the goal{% endcapture %}
{% capture text_your_sites_account %}Your {{ site.name }} account{% endcapture %}
{% capture text_dont_publish_profile %}Don't publish <a href="{{ signup.profile_url }}">my profile</a> on the website{% endcapture %}
{% capture text_why_you_support %}Why do you support {{ site.name }}?{% endcapture %}
{% capture text_search_engines_find_profile %}Allow search engines to find <a href="{{ signup.profile_url }}">my profile</a>{% endcapture %}
{% capture text_create_sites_account %}Create a {{ site.name }} account{% endcapture %}